<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dropdown Events</title>
</head>
<body>
    <h2><center>Football: Are Goals Worth the Money?</center></h2>
    <p>Football industry of late has been the target of investment from super wealthy individuals and company groups. 
        Chelsea, Manchester City, and PSG are examples of the teams that rose to power with the support of such investors.
        Due to large spendings from these teams, the football transfer market is experiencing hyper-inflated player values.
        In this app, we examine if and by how much team performance is affected by money.
    </p>
    <select id="selDataset">
        <option value="dataset">Data Set</option>
        </select>

    <div id="menu_options"></div>

    <p>Select an Analysis:<br />
    </p>
   
</body>
</html>
